body{
    background: url(../IMGSL/10.jpg);
}
.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}
h1{
    text-align: center;
    color: #fff;
}

#play{
    background: #069fec;
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 14px;
   justify-content:center;
   text-align: center;
}


#stop{
    background: #069fec;
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid #000000;
    text-align: center;
}

#controles{
display: flex;
justify-content:center;
transform: rotateX(1200px);
text-align: center;
}